<h1> Transactions for <%= user.username %> </h1>

  <div class="row">
    <div class = "col-sm">
      description
    </div>
    <div class = "col-sm">
      amount
    </div>
      category
    </div>
      date
    </div>
  </div>
   

        <form method="post" action="transaction">
            <input type="text" placeholder = "description" name="description">
            <br>
            <input type="text" placeholder = "category" name="category">
            <br>
            <input type="text" placeholder = "amount" name="amount">
            <br>
            <input type="date" name="date">
            <br>
            <input type="submit" value="store">
        </form>
      </div>
      <div class="col">
        <h2> Summary of Site Usage</h2>
        <p>
          <a  class="btn btn-lg btn-primary"
              href="/transactions/byUser">Show transactions for all users</a></p>
      </div> 
    </div>
</div>
